body {
    margin: 0;
    font-family: "KCC";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

@font-face {
    font-family: "KCC";
    src: url("assets/fonts/KCCChassam.woff2") format("woff2"),
        url("assets/fonts/KCCChassam.woff") format("woff"),
        url("assets/fonts/KCCChassam.ttf") format("truetype");
}
